.tasks{
  text-align: center;
}
.hw5-form-one, .hw5-form-two{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 18px;
    padding-bottom: 20px;
}
.hw5-form-one input, .hw5-form-two input{
  width: 12px;
  height: 12px;
}
.hw5-form-two{
  display: flex;
  flex-direction: column;
}
.hw5-form-two label:nth-child(1){
  color: rgb(163, 0, 0);
}
.hw5-form-two label:nth-child(2){
  color: rgb(219, 216, 0);
}
.hw5-form-two label:nth-child(3){
  color: rgb(28, 170, 0);
}

.hw5-form-two label:nth-child(1) [type="radio"]:checked::before{
  background-color: rgb(255, 0, 0);
}
.hw5-form-two label:nth-child(2) [type="radio"]:checked::before{
  background-color: rgb(255, 251, 0);
}
.hw5-form-two label:nth-child(3) [type="radio"]:checked::before{
  background-color: rgb(43, 255, 0);
}