 .page-1 .tasks, .page-2 .tasks, .page-3 .tasks {
  text-align: left;
}
.page-7 .strings{
    white-space: pre-line;
}
.page-4 .task-five{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-5 form {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 18px;
    padding-bottom: 20px;
}
.page-5 form input{
  width: 12px;
  height: 12px;
}
.page-5 .hw5-form-two{
  display: flex;
  flex-direction: column;
}
.page-5 .hw5-form-two label:nth-child(1){
  color: rgb(163, 0, 0);
}
.page-5 .hw5-form-two label:nth-child(2){
  color: rgb(219, 216, 0);
}
.page-5 .hw5-form-two label:nth-child(3){
  color: rgb(28, 170, 0);
}

.page-5 .hw5-form-two label:nth-child(1) [type="radio"]:checked::before{
  background-color: rgb(255, 0, 0);
}
.page-5 .hw5-form-two label:nth-child(2) [type="radio"]:checked::before{
  background-color: rgb(255, 251, 0);
}
.page-5 .hw5-form-two label:nth-child(3) [type="radio"]:checked::before{
  background-color: rgb(43, 255, 0);
}
.page-8 .cards-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 20px;
}
.page-8 .card{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 130px;
  background: #81c54983;
  cursor: pointer;
}
/* л┤ли 10 */
.page-10{
  user-select: none;
}
.calculate-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 4px;
  background-color: #212121;
  padding: 4px;
  border-radius: 5px;
  max-width: 360px;

}
.item{
  background-color: #abe5f1;
  color: #000;
  padding: 20px;
  display: flex;
  justify-content: center; 
  align-items: center;
  font-size: 22px;
  cursor: pointer;
  font-weight: bold;  
}
.page-10 form{
  max-width: 100%;
}
.calculate-input{
  width: 100%;
  height: 60px;
  border: none;
  font-size: 30px;
  outline: none;
  text-align: right;
}
.input{
  grid-column: 1 / -1;
  padding: 8px;
}
.clean{
  grid-column: 1 / 3;
  background-color: #648cd6e7;
}
.back{
  grid-column: 3 / -1;
}
.equal{
  grid-column: 4;
  grid-row: 6 / 8;
  background-color: #863030;
}
.zero{
  grid-column: 1 / 3;
}