.page-1 .tasks,
.page-2 .tasks,
.page-3 .tasks {
  text-align: left;
}
.page-7 .strings,
.page-10 #message,
.page-10 #movies-list,
.page-15 p {
  white-space: pre-line;
}
.page-4 .task-five {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-5 form {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 18px;
  padding-bottom: 20px;
}
.page-5 form input {
  width: 12px;
  height: 12px;
}
.page-5 .hw5-form-two {
  display: flex;
  flex-direction: column;
}
.page-5 .hw5-form-two label:nth-child(1) {
  color: rgb(163, 0, 0);
}
.page-5 .hw5-form-two label:nth-child(2) {
  color: rgb(219, 216, 0);
}
.page-5 .hw5-form-two label:nth-child(3) {
  color: rgb(28, 170, 0);
}

.page-5 .hw5-form-two label:nth-child(1) [type="radio"]:checked::before {
  background-color: rgb(255, 0, 0);
}
.page-5 .hw5-form-two label:nth-child(2) [type="radio"]:checked::before {
  background-color: rgb(255, 251, 0);
}
.page-5 .hw5-form-two label:nth-child(3) [type="radio"]:checked::before {
  background-color: rgb(43, 255, 0);
}
.page-8 .cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 20px;
}
.page-8 .card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 130px;
  background: #81c54983;
  cursor: pointer;
}
/* л┤ли 10 */
.page-10 {
  user-select: none;
}
.calculate-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 4px;
  background-color: #212121;
  padding: 4px;
  border-radius: 5px;
  max-width: 360px;
}
.item {
  background-color: #abe5f1;
  color: #000;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  cursor: pointer;
  font-weight: bold;
}
.page-10 form {
  max-width: 100%;
}
.calculate-input {
  width: 100%;
  height: 60px;
  border: none;
  font-size: 30px;
  outline: none;
  text-align: right;
}
.input {
  grid-column: 1 / -1;
  padding: 6px;
}
.clean {
  grid-column: 1 / 3;
  background-color: #648cd6e7;
}
.back {
  grid-column: 3 / -1;
}
.equal {
  grid-column: 4;
  grid-row: 6 / 8;
  background-color: #863030;
}
.zero {
  grid-column: 1 / 3;
}
.page-10 .task-two {
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* 12 */
.page-12 li {
  margin: 5px 0;
  padding: 0;
  font-size: 20px;
}
.best {
  background-color: #c8f7c5;
  font-weight: bold;
}
/* 17 */
.page-17 .task-three img {
  background-color: #54ff2088;
}
.page-17 .task-three .link-17 {
  background: none;
  padding: 0;
  box-shadow: none;
}
.page-17 .task-three .link-17:hover {
  background: #2d426b;
}
/* 18 */
.page-18 li {
  margin: 0;
}
.page-18 ul#categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 50px;
}
.page-18 #gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.page-18 .gallery-img {
  max-height: 180px;
}
/* 19 */
.page-19 label {
  padding: 10px;
}
.page-19 label input {
  width: 10px;
}
#validation-input {
  border: 3px solid #bdbdbd;
}
#validation-input.valid {
  border-color: #4caf50;
}
#validation-input.invalid {
  border-color: #f44336;
}
/* 20 */
.page-20 .container {
  min-width: 1100px;
}
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.image {
  width: 300px;
  height: 200px;
  object-fit: cover;
}
.full-image-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

.full-image {
  max-width: 90%;
  max-height: 90%;
}
.btn-closee{
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 50px;
  color: white;
  cursor: pointer;
}